# build dependencies for running the app on heroku or render
DynamicistToolKit>=0.5.3
dash-bootstrap-components
dash>=2
gunicorn
matplotlib>=3.6.3
numpy>=1.26.4
pandas>=2.1.4
pyyaml>=6.0.1
scipy>=1.11.4
uncertainties>=3.1.7
yeadon>=1.4.0
