/* Sets the primary colors for the page */
body {
	color: rgb(230, 150, 0);
}

a:link {
	color: white;
}

a:visited {
  color: gray;
}

a:hover {
  color: gray;
}

a:active {
  color: gray;
}

.outer-border{
	border: 5px ridge rgb(60, 60, 90);
	padding: 5px;
}

.inner-border{
	border: 5px outset rgb(60, 60, 90);
	padding: 5px;
}

.row-margin{
	margin: 5px;
}

H1 {
	font-size: 30px;
	text-align: center;
}

H2 {
	font-size: 20px;
	text-align: center;
}

#geometry-checklist {
	color: rgb(211, 211, 211);
}


#range-slider {
	background-color: white;
}

#wheel-table, #frame-table, #general-table {
	background-color: rgb(211, 211, 211);
}

#version-bin {
	width: 250px;
	margin: 5px;
	color: rgb(211, 211, 211);
}
