body {
	background-color: grey;
}

#main-header {
	color: maroon;
}

#geometry-plot {
	width: 640;
	height: 480;
}

#eigen-plot {
	
}

#image-bin {
	background-color: lightgrey;
}

#parameter-input-bin {
	background-color: lightblue;
}