html {
	background-color: grey;
	background-image: url("https://c0.wallpaperflare.com/preview/440/413/207/bike-bangkok-amoled-bicycle.jpg");
	background-size: cover;
}

#main-header {
	color: violet;
}

#geometry-plot {
	width: 640;
	height: 480;
}

#image-bin {
	background-color: lightgrey;
}
