# based on https://github.com/mamba-org/provision-with-micromamba
name: test
on:
  push:
    branches: master
  pull_request:
    branches: master
jobs:
  test:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        dependency-set: ["-old", ""]
        python-version: ["3.7", "3.8", "3.9"]
        exclude:
          - dependency-set: "old"
          - python-version: ["3.9"]
    name: test
    steps:
      - uses: actions/checkout@v2
      - name: install mamba
        uses: mamba-org/provision-with-micromamba@main
        with:
          environment-file: conda/bicycleparameters-dev${{ matrix.dependency-set }}.yml
          environment-name: bicycleparameters-dev${{ matrix.dependency-set }}
          extra-specs: |
            python=${{ matrix.python-version }}
      - name: run tests
        shell: bash -l {0}
        run: |
          micromamba info
          micromamba list
          python -c "import bicycleparameters"
          py.test bicycleparameters/
      - name: build documentation
        shell: bash -l {0}
        run: |
          micromamba info
          micromamba list
          cd docs
          make html
      - name: test installation
        shell: bash -l {0}
        run: |
          micromamba info
          micromamba list
          python setup.py install
